body {
    margin: 0;
    background-image: url("../images/stars.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: 12;
}

header {
    margin: 0;
    width: 100vw;
    height: 5vh;
    /* background-color: blue; */
    position: sticky;
    position: -webkit-sticky;
    z-index: 11;
    position: fixed;
    top: 0;
    background: inherit;
}


#headContainer {
    margin: 0;
    padding: 0;
    display: flex;
    z-index: 2;
    color: white;
}

#bodyContainer {
    margin: 0;
    padding: 0;
    z-index: 3;
}

.bkgdDiv {
    height: 10vw;
    width: 10vw;
    background-color: black;
    border: 2px yellow;
}

#test {
    color: white;
}

.cardContainer {
    margin: 15vh 0 25vh 0;
    overflow: hidden;
}

.card {
    margin: 10vh auto 0 auto;
    width: 55vw;
    max-width: 75vw;
    height: auto;
    background-color: rgb(2, 96, 112);
    border: 4px solid cyan;
    border-radius: 10px;
    z-index: 6;
    box-shadow: 0 0 1px 1px rgb(153, 252, 252);
}

.card-img {
    width: 55vw;
    max-width: 75vw;
    border-bottom: 4px solid cyan;
    border-radius: 6px 6px 0 0;
}

.card-title {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.card-desc {
    padding: 5px 20px 15px 20px;
    font-size: 1.2rem;
    text-decoration: none;
}

.card-url {
    text-decoration: none;
    color: rgb(246, 255, 255);
    text-shadow: 0 0 1px rgb(45, 236, 250);
}